<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.besparina.it.hamyar">
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo2"
        android:roundIcon="@drawable/logo2"
        android:supportsRtl="true"
        android:label="@string/Logo_name"
        android:theme="@style/AppTheme"
        android:name="com.besparina.it.hamyar.FontMain"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.besparina.it.hamyar.MainMenu"
            android:label="@string/Logo_name"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:noHistory="false" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.besparina.it.hamyar.Login"
            android:noHistory="false" />
        <activity
            android:name="com.besparina.it.hamyar.Info_Person"
            android:noHistory="false" />
        <activity
            android:name="com.besparina.it.hamyar.Accept_code"
            android:noHistory="false"/>
        <activity
            android:name="com.besparina.it.hamyar.Profile"
            android:windowSoftInputMode="adjustPan"
            android:noHistory="false"/>
        <activity
            android:name="com.besparina.it.hamyar.About"
            android:noHistory="false"/>
        <activity
            android:name="com.besparina.it.hamyar.Contact"
            android:noHistory="false"/>
        <activity
            android:name="com.besparina.it.hamyar.GiftBank"
            android:noHistory="false"/>
        <activity
            android:name="com.besparina.it.hamyar.Help"
            android:noHistory="false"/>
        <activity
            android:name="com.besparina.it.hamyar.List_Messages"
            android:noHistory="false"/>
        <activity
            android:name="com.besparina.it.hamyar.OurCommitment"
            android:noHistory="false"/>
        <activity
            android:name="com.besparina.it.hamyar.StepJob"
            android:noHistory="false"/>
        <activity
            android:name="com.besparina.it.hamyar.YourCommitment"
            android:noHistory="false"/>
        <activity
            android:name="com.besparina.it.hamyar.ViewJob"
            android:noHistory="false"/>
        <activity
            android:name="com.besparina.it.hamyar.StepJobDetaile"
            android:noHistory="false"/>
        <activity
            android:name="com.besparina.it.hamyar.ShowMessage"
            android:noHistory="false"/>
        <activity
            android:name="com.besparina.it.hamyar.List_Visits"
            android:noHistory="false"/>
        <activity
            android:name="com.besparina.it.hamyar.Save_Per_Factor"
            android:noHistory="false"/>
        <activity
            android:name="com.besparina.it.hamyar.Credit"
            android:noHistory="false"/>
        <activity
            android:name="com.besparina.it.hamyar.History"
            android:noHistory="false"/>
        <activity
            android:name="com.besparina.it.hamyar.Credit_History"
            android:noHistory="false"/>
        <activity
            android:name="com.besparina.it.hamyar.List_Dutys"
            android:noHistory="false"/>
        <activity
            android:name="com.besparina.it.hamyar.List_Services"
            android:noHistory="false"/>
        <activity
            android:name="com.besparina.it.hamyar.Setting"
            android:noHistory="false"/>
        <activity
            android:name="com.besparina.it.hamyar.ListServiceAtTheTurn"
            android:noHistory="false"/>
        <service android:name="com.besparina.it.hamyar.ServiceGetNewJob"/>
        <service android:name="com.besparina.it.hamyar.ServiceGetNewJobNotNotifi"/>
        <service android:name="com.besparina.it.hamyar.ServiceGetLocation"/>
        <service android:name="com.besparina.it.hamyar.ServiceGetSliderPic"/>
        <service android:name="com.besparina.it.hamyar.ServiceSyncServiceSelected"/>
        <service android:name="com.besparina.it.hamyar.ServiceGetJobUpdate"/>
        <service android:name="com.besparina.it.hamyar.ServiceDeleteJob"/>
        <service android:name="com.besparina.it.hamyar.ServiceGetFactorAccept"/>
        <service android:name="com.besparina.it.hamyar.ServiceGetUserServiceStartDate"/>
        <service android:name="com.besparina.it.hamyar.ServiceSyncProfile"/>
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDnC52D6OdJODkWQpG-7SXrqhZk4ZLRV9M" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <receiver android:name="com.besparina.it.hamyar.SMSReseiver" android:enabled="true" android:exported="true">
            <intent-filter android:priority="2147483647">
                <action android:name=
                    "android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver android:name="ScheduleReceiver"
            android:directBootAware="true"
            android:exported="false"
            tools:targetApi="n">
        <intent-filter>
            <action android:name="android.intent.action.BOOT_COMPLETED" />
            <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
        </intent-filter>
    </receiver>
        <receiver android:name="StartServiceReceiver">
        </receiver>
    </application>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
</manifest>