<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.it.hamyar">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo2"
        android:roundIcon="@drawable/logo2"
        android:supportsRtl="true"
        android:label="@string/Logo_name"
        android:theme="@style/AppTheme"
        android:name=".FontMain">
        <activity
            android:name="com.project.it.hamyar.MainMenu"
            android:label="@string/Logo_name"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:noHistory="false" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.project.it.hamyar.Login"
            android:noHistory="false" />
        <activity
            android:name="com.project.it.hamyar.Info_Person"
            android:noHistory="false" />
        <activity
            android:name="com.project.it.hamyar.Accept_code"
            android:noHistory="false"/>
        <activity
            android:name="com.project.it.hamyar.Profile"
            android:noHistory="false"/>
        <activity
            android:name="com.project.it.hamyar.About"
            android:noHistory="false"/>
        <activity
            android:name="com.project.it.hamyar.Contact"
            android:noHistory="false"/>
        <activity
            android:name="com.project.it.hamyar.GiftBank"
            android:noHistory="false"/>
        <activity
            android:name="com.project.it.hamyar.Help"
            android:noHistory="false"/>
        <activity
            android:name="com.project.it.hamyar.List_Messages"
            android:noHistory="false"/>
        <activity
            android:name="com.project.it.hamyar.OurCommitment"
            android:noHistory="false"/>
        <activity
            android:name="com.project.it.hamyar.StepJob"
            android:noHistory="false"/>
        <activity
            android:name="com.project.it.hamyar.YourCommitment"
            android:noHistory="false"/>
        <activity
            android:name="com.project.it.hamyar.ViewJob"
            android:noHistory="false"/>
        <activity
            android:name="com.project.it.hamyar.StepJobDetaile"
            android:noHistory="false"/>
        <activity
            android:name="com.project.it.hamyar.ShowMessage"
            android:noHistory="false"/>
        <activity
            android:name="com.project.it.hamyar.List_Visits"
            android:noHistory="false"/>
        <activity
            android:name="com.project.it.hamyar.Save_Per_Factor"
            android:noHistory="false"/>
        <activity
            android:name="com.project.it.hamyar.Credit"
            android:noHistory="false"/>
        <activity
            android:name="com.project.it.hamyar.History"
            android:noHistory="false"/>
        <activity
            android:name="com.project.it.hamyar.Credit_History"
            android:noHistory="false"/>
        <activity
            android:name="com.project.it.hamyar.List_Dutys"
            android:noHistory="false"/>
        <activity
            android:name="com.project.it.hamyar.List_Services"
            android:noHistory="false"/>
        <activity
            android:name="com.project.it.hamyar.Setting"
            android:noHistory="false"/>
        <activity
            android:name="com.project.it.hamyar.ListServiceAtTheTurn"
            android:noHistory="false"/>
        <service android:name=".ServiceGetNewJob">

        </service>
        <service android:name=".ServiceGetNewJobNotNotifi">

        </service>
        <service android:name=".ServiceGetLocation">

        </service>
        <service android:name=".ServiceGetSliderPic">

        </service>
        <service android:name=".ServiceSyncServiceSelected">

        </service>
        <service android:name=".ServiceSyncServiceSelected">

        </service>
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDnC52D6OdJODkWQpG-7SXrqhZk4ZLRV9M" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <receiver android:name="com.project.it.hamyar.SMSReseiver" android:enabled="true" android:exported="true">
            <intent-filter android:priority="2147483647">
                <action android:name=
                    "android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
    </application>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
</manifest>